body { font-family: Verdana, Arial;margin: 0;padding: 0;text-align: left;font-size:small;}
            #content-wrapper { width: 98%; max-widtd:980px;  margin: 0 auto;  padding: 5px;  text-align: left;  background-color: #F9EAD4;
border:2px solid #F9780E;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;
}
#content-wrapper h2 {text-align:center;font-size:20px;margin: 5px 0 1em
;padding: 3px 10px;background-color: #F9780E;font-size:16px;color:#000;border:1px solid #111;
-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;
}
            fieldset{-moz-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px;border:1px solid #AAA;}
            fieldset legend{font-size:15px;font-weight:bold; padding:2px 10px;border:1px solid #AAA;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
			.redius{
 -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
#BTgadform {
	font-family: Georgia, serif;
}

#BTgadmn fieldset {
	border: 1px solid #004000;
	background: #BFE3FE;
	padding: 0 20px;
}

#BTgadmn legend {
	background: #F9780E;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #cccccc;
	border-bottom-color: #999999;
	border-right-color: #999999;
	padding: 4px 8px;
}

#BTgad fieldset {
	border: 1px solid #004000;
	background: #FFFFFF;
	padding: 0 20px;
}
#BTgad legend {
	background: #F9780E;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #cccccc;
	border-bottom-color: #999999;
	border-right-color: #999999;
	padding: 4px 8px;
}
.button{
background: #F9780E;
background: -webkit-linear-gradient(top, #F9780E 0%, #F9EAD4 100%);
background: -moz-linear-gradient(top, #F9780E 0%, #F9EAD4 100%);
background: -o-linear-gradient(top, #F9780E 0%, #F9EAD4 100%);
background: -ms-linear-gradient(top, #F9780E 0%, #F9EAD4 100%);
background: linear-gradient(top, #F9780E 0%, #F9EAD4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9780E', endColorstr='#F9EAD4',GradientType=0 );
border: 1px solid #F9780E;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 6px 12px;
margin:0;
-webkit-box-shadow: 0 1px 0 #F9780E inset, 1px 1px 1px rgba(223,223,223,0.4);
-moz-box-shadow: 0 1px 0 #F9780E inset, 1px 1px 1px rgba(223,223,223,0.4);
box-shadow: 0 1px 0 #F9780E inset, 1px 1px 1px rgba(223,223,223,0.4);
color: #000000;
text-shadow: 0 1px 0 #fff;
line-height: 1.2;
cursor: pointer;
font-weight:800;
font-size: 13px;
}
.button:hover {
    background: -webkit-linear-gradient(top, #FF6600 0%, #FED9BF 100%);
background: -moz-linear-gradient(top, #FF6600 0%, #FED9BF 100%);
background: -o-linear-gradient(top, #FF6600 0%, #FED9BF 100%);
background: -ms-linear-gradient(top, #FF6600 0%, #FED9BF 100%);
background: linear-gradient(top, #FF6600 0%, #FED9BF 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF6600', endColorstr='#FED9BF',GradientType=0 );
text-decoration:none !important;

}
.button:disabled {
	cursor:not-allowed;
	border:none;
	background-color:grey;
	color:grey;
}
